<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<body>
<div class="page-header-container">
    <div class="page-header">
        <h1> Admin dashboard </h1>
    </div>
</div>


<div class="main content">
    <%- include('../partials/search.ejs') %>
    <div class="row users" id="switch:users">
        <%renderUsers()%>
    </div>
</div>
</body>
</html>



<%
function renderUsers() {
  const Users = users.filter(i => i.id !== user.id)
for (let i = 0; i < Users.length; i++) {
    const foundUser = Users[i]
    if (!foundUser) return %>
<div class="item user">
    <div class="details">
        <h3> <%=foundUser.username%> </h3>
        <p> <%=foundUser.email%></p>
    </div>
    <div class="stats">
        <div class="count">
            <div class="tooltip">
                <p><i class="fas fa-book"></i><%=foundUser.analytics?.itemCount || 0%></p>
                <span class="tooltiptext">Items created</span>

            </div>
        </div>
        <div class="count">
            <div class="tooltip">
                <p><i class="fas fa-eye"></i><%=foundUser.analytics?.inspectedCount || 0%></p>
                <span class="tooltiptext">Items inspected</span>
            </div>
        </div>
        <div class="count">
            <div class="tooltip">
                <p><i class="fas fa-tags"></i><%=foundUser.analytics?.characteristicCount || 0 %></p>
                <span class="tooltiptext">Characteristics created</span>
            </div>
        </div>
    </div>
    <div class="select" id="perm-select">
        <label>
            <select setting="permission" excluse="true" onclick="tada(this, `<%=foundUser.id%>`)">
                    <%
                        for (let i = 0; i < Object.values(permissions).length; i++) {
                            const found = permissions[i]
                            const key = Object.keys(permissions)[i]
                    %>
                            <option <%=foundUser.permissionLevel === Number(key) ? 'selected="selected"' : ''%> value="<%=key%>"><%=found%></option>
                <% } %>
            </select>
        </label>
        <div class="admin-buttons">
            <button class="button <%=foundUser.id%>" exclude="true">Update</button>
            <button class="button" id="delete" exclude="true" loc="/user/<%=foundUser.id%>/delete"> <i class="fas fa-trash"></i> </button>
        </div>
    </div>
</div>
<%}
}%>

<script>
    function tada(obj, user) {
      const string = `/permissions/${user}/${obj.value}`
      const elem = document.getElementsByClassName(`button ${user}`)[0]
      elem.setAttribute('loc', string)
    }
</script>

