<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<body>
<div class="page-header-container">
    <div class="page-header">
        <h1> Item inspection </h1>
    </div>
</div>


<div class="main content">
    <div class="search">
        <label>
            <input class="search-bar" type="search" id="search-input-bar" autocomplete="off"
                   placeholder="Search for items..." value="">
        </label>
        <button class="button" exclude="true" id="search-button" tabindex="-1" onclick="search(this.value)">
            <i class="fas fa-search"></i>
        </button>
        <div class="index-buttons">
            <a class="button" id="create" href="/item/create">
                Create Item
            </a>
            <a class="button" id="create" href="/characteristic/create">
                Create Characteristic
            </a>
        </div>
    </div>
    <div class="row items">
        <% renderItems() %>
    </div>
</div>
</body>
</html>

<%
function renderItems() {
for (let i = 0; i < items.length; i++) {
    const item = items[i] %>
<a href="/item/<%= item.id %>">
    <div class="item quiz <%= item.needsInspection ? 'inspection' : '' %>">
        <div class="details">
            <h3> <%= item.name %> </h3>
            <div class="description">
                <p> <%= item.description || "None provided" %> </p>
            </div>
        </div>
        <div class="stats">
            <div class="count">
                <div class="tooltip">
                    <p><i class="fas fa-eye"></i><%= item.analytics?.inspectedCount || 0 %></p>
                    <span class="tooltiptext">Items inspections</span>
                </div>
            </div>
            <div class="count date">
                <div class="tooltip">
                    <p><i class="fas fa-eye"></i>
                    <p><%= item.lastInspectedText || 'Never' %></p>
                    <span class="tooltiptext">Last inspected</span>
                </div>
            </div>
        </div>
    </div>
</a>
<% }
} %>

<script>
    document.onkeydown = function (event) {
        if (event.keyCode === 13) {
            search()
        }
    };

    function search() {
        const query = document.getElementById('search-input-bar').value
        const parentElems = document.getElementsByClassName('item quiz')
        const elems = document.getElementsByClassName('details')
        if (!elems) return
        for (let i = 0; i < elems.length; i++) {
            const elem = elems[i]
            const parentElem = parentElems[i]
            if (elem.innerHTML.toLowerCase().includes(query.toLowerCase())) {
                parentElem.style.display = 'inline-block';
            } else {
                parentElem.style.display = 'none';
            }
        }
    }
</script>
