<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<body>
<div class="page-header-container">
    <div class="page-header">
        <h1> Item inspection </h1>
    </div>
</div>

<div class="main content">
    <%- include('../partials/search.ejs') %>
    <div class="index-buttons">
        <a class="button" id="create" href="/item/create">
            Create Item
        </a>
        <a class="button" id="create" href="/characteristic/create">
            Create Characteristic
        </a>
    </div>
    <div class="row items">
        <div class="row header">
            <h1> Items </h1>
        </div>
        <% if (!items[0]) {%>
            <div class="count">
                <p> We couldn't find any Items</p>
            </div>
        <%} %>
        <% renderEntities(1) %>
    </div>
    <div class="row characteristics">
        <div class="row header">
            <h1> Characteristics</h1>
        </div>
        <% if (!characteristics[0]) {%>
            <div class="count">
                <p> We couldn't find any characteristics</p>
            </div>
        <%} %>
        <% renderEntities(2) %>
    </div>
</div>
</body>
</html>

<%
function renderEntities(type = 1) {
    const entityType = type === 1 ? items : characteristics
for (let i = 0; i < entityType.length; i++) {
    const entity = entityType[i] %>
        <a <%=type === 1 ? `href=/item/${entity.id}` :' '%>>
            <div class="item <%= entity.needsInspection ? 'inspection' : '' %>">
                <div class="details">
                    <h2> <%= entity.name %> </h2>
                    <div class="description">
                        <p> <%= entity.description || "None provided" %> </p>
                    </div>
                </div>
                <%
                    if (type === 1) { %>
                        <div class="stats">
                            <div class="count">
                                <div class="tooltip">
                                    <p><i class="fas fa-eye"></i><%= entity.analytics?.inspectedCount || 0 %></p>
                                    <span class="tooltiptext"><%=entity.name%> inspections</span>
                                </div>
                            </div>
                            <div class="count date">
                                <div class="tooltip">
                                    <p><i class="fas fa-eye"></i>
                                    <p><%= entity.lastInspectedText || 'Never' %></p>
                                    <span class="tooltiptext">Last inspected</span>
                                </div>
                            </div>
                        </div>
                    <% }
                %>
                <% if (type !== 1) {%>
                    <div class="characteristic-buttons">
                        <button class="button" id="delete" loc="characteristic/<%=entity.id%>/delete"> <i class="fas fa-trash"></i> </button>
                    </div>
               <%} else { %>
                    <div class="location">
                        <i class="fas fa-map-marker-alt"></i><%=entity.location%>
                    </div>
               <%}%>
            </div>
        </a>
<% }
} %>
